n8n/workflows/W7_decay_check.json
{
  "name": "W7 Decay Check",
  "id": "W7_decay_check",
  "nodes": [
    {
      "id": "Cron_Decay",
      "name": "Cron Daily 06:00 UTC",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [260, 300],
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 6,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "HTTP_Decay",
      "name": "POST /api/decay/check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [540, 300],
      "parameters": {
        "method": "POST",
        "url": "https://cie-api.example.com/api/decay/check",
        "responseFormat": "json",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "IF_Decay_OK",
      "name": "Decay OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"] || 200}}",
              "operation": "smallerOrEqual",
              "value2": 299
            }
          ]
        }
      }
    },
    {
      "id": "HTTP_Notify",
      "name": "Notify Decayed SKUs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1060, 240],
      "parameters": {
        "method": "POST",
        "url": "https://alerts.example.com/decay",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ {\"decayed_skus\": $json[\"decayed_skus\"] || []} }}"
      }
    },
    {
      "id": "HTTP_Decay_Error",
      "name": "Notify Decay Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1060, 420],
      "parameters": {
        "method": "POST",
        "url": "https://alerts.example.com/errors",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ {\"workflow\":\"W7_decay_check\",\"message\":\"Decay check failed\"} }}"
      }
    }
  ],
  "connections": {
    "Cron Daily 06:00 UTC": {
      "main": [
        [
          {
            "node": "POST /api/decay/check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/decay/check": {
      "main": [
        [
          {
            "node": "Decay OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decay OK?": {
      "main": [
        [
          {
            "node": "Notify Decayed SKUs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Decay Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "w7-decay-check-v1"
}

